@mixin pattern {
  position: relative;

  &:before {
    content: "";
    background: url(../img/pattern.png);
    background-size: 280px 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
}
