.footer {
    background: radial-gradient(ellipse 100% 100% at 0% 100%, $secondaryColor 0%, $primaryColor 100%);
    color: rgba($color: #fff, $alpha: 0.9);
    padding: 4rem 0;

    h5 {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    a {
        color: rgba($color: #fff, $alpha: 0.9);

        &:hover {
            color: #fff;
        }
    }

    p {
        text-align: justify;
    }

    .footer-content {

        .logo,
        .about,
        .partners,
        .social {
            margin-bottom: 3rem;
        }

        .social a {
            margin: 0 .2rem;

            &:hover {
                color: $primaryColor;
            }
        }
    }

    .footer-bottom {
        color: rgba($color: #fff, $alpha: 0.8);
    }
}