.portfolio {
  padding: 5rem 0;
  background: url(../img/lines-h2-bg.png) 50% 50%;

  .container {
    max-width: 600px;
  }

  .block-title {
    margin: 2rem 0 0;

    p {
      margin: 0 0 3rem;
      font-size: 1.25rem;
    }
  }
}
